* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Assistant, Stencil, serif;
}

.grid-container {
    display: grid;
    row-gap: 3%;
    column-gap: 20%;
    grid-area: center;
    grid-template-columns: repeat(3, 1fr);
}

.gridFooter{
    padding: 15%;
}

footer {
    text-align: center;
    font-size: 10px;
}

.gridNavBar {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
}

.navBar{
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    font-weight: bold;
    font-size: 25px;
}

li { /*for navbar*/
    float: left;
    list-style: none;
    display: block;
}

li a { /*for navbar*/
    display: inline-block;
    color: #276F8B;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-family: Assistant;
}

li a:hover { /*for navbar*/
    background-color: lightgrey;
}

#fadeIn{
    /*animation type*/
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    /*animation rum time*/
    animation-duration: 4s;
    -webkit-animation-duration: 4s;

    /*type of effect*/
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    /*visibility state*/
    visibility: visible !important;
}

@keyframes fadeIn {
    0% {opacity: 0.0;}
    25% {opacity: 0.3;}
    50% {opacity: 0.5;}
    75% {opacity: 0.8;}
    100% {opacity: 1;}
}

.gridFirstWindow{
    grid-area: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.gridConnection1 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 25px;
}

body {
    background-color: #FFFFF4;
    background-image: url("../pics/bgPic.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
}

.pages{
    background-image: none;
}

h1 {
    color: #276F8B;
    margin: 20px;
    text-align: center;
    font-size: 70px;
    font-family: Stencil;
}

h2 {
    color: #276F8B;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    font-family: Stencil;
}

h3 {
    color: #276F8B;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    font-family: Stencil;
}

h5{
    color: #276F8B;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.message{
    color: #276F8B;
    text-align: center;
    font-weight: 700;
    font-family: Stencil;
}

.button {
    color: #276F8B;
    background-color: #AAD6E7;
    size: 300px;
    border-radius: 16px;
    font-size: 20px;
    padding: 8px 32px;
}

.gridConnection {
    grid-column: 2;
}

.gridNewTrainee {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #dabba6;
}

.gridLabelTitle { /*sign up & log in*/
    text-align: center;
    align-items: center;
    font-size: 20px;
}

.gridSubmit { /*sign up & log in*/
    grid-column: 2;
    text-align: center;
    grid-row: 2;
}

.labelTitle { /*sign up & log in*/
    color: #276F8B;
    font-size: 20px;
    padding: 8px 32px;
}

.label { /*sign up & log in*/
    background-color: #d5eef7;
    font-size: 15px;
    padding: 8px 32px;
    text-align: center;
}

.gridHomePage {
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 5;
}

table, th, td {
    display: inline;
    border: 1px solid;
}

.gridSchedule {
    background-color: #D1E7F6;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

/*training container*/
.training-container{
    display: flex;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*schedule design*/
.training-container .trainingType{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.trainingType.selected{
    box-shadow: 0px 0px 0px 2px black inset;
}

#functional{
    background-color: #7f0000;
    color: #f5f5f5;
    font-weight: bold;
}

#calisthenics{
    background-color: #cc6c00;
    color: #f5f5f5;
    font-weight: bold;
}

#yoga{
    background-color: #ffbb33;
    color: #f5f5f5;
    font-weight: bold;
}

#pilates{
    background-color: #2c4c00;
    color: #f5f5f5;
    font-weight: bold;
}

#spinning{
    background-color: #3c1451;
    color: #f5f5f5;
    font-weight: bold;
}

#deselect{
    background-color: #004c66;
    color: #f5f5f5;
    font-weight: bold;
}

/*styling the week board*/
.schedule-container{
    background: #D1E7F6;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 1rem;
}

.days-container{
    display: flex;
}

.corner{
    width: 50px;
    height: 70px;
    margin: 2px;
}

.day{
    width: 100px;
    border: solid 2px whitesmoke;
    color: #276F8B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.partDay{
    display: flex;
}

.time{
    width: 50px;
    height: 50px;
    color: #276F8B;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.training{
    background-color: whitesmoke;
    width: 135px;
    height: 50px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*delete training from schedule*/
.deleteButton{
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}
.deleteButton:hover{
    background-color: #eee;
}

/*design pop-up message*/
.popupMessage-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 50%;
    width: 50%;
    background-color: #69B79F;
    display: none;
    justify-content: center;
    align-items: center;
}

.popupMessage{
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BCE2E6;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonAnswer{
    margin: 0;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.gridTrainees {
    background-color: #BCE2E6;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

.gridTableTrainees {
    grid-column-start: 1;
    grid-column-end: 5;
}

table{
    height: 100%;
    border: 2px;
    text-align: left;
    margin: 50px;
}

th,tr{
    height: 60px;
    padding:12px;
}

td{
    text-align:left;
    vertical-align:middle;
    padding:16px;
}

.gridButtonCreateTrainees {
    grid-row: 6;
    grid-column: 4;
}

.gridTabs {
    background-color: #CCCCFF;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

#gridTab1 { /*tab 220*/
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

#gridTab2 { /*tab 800*/
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

#gridTab3 { /*tab 360*/
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}

#gridTab4 { /*tab 50*/
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 4;
}

.gridButtonChangesTabs {
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

.tab {
    font-size: 20px;
    border: 2px solid #276F8B;
    background-color: #EBEBFB;
    padding: 25px;
    margin: 25px;
}

.cancel {
    background-color: #FF5050;
    font-size: 20px;
    padding: 8px 18px;
}

.create {
    background-color: #69B79F;
    font-size: 20px;
    padding: 8px 18px;
    text-decoration: none;
}

.gridStat {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #FFCCCC;
}

.gridButtonQuery { /*query's buttons*/
    text-align: left;
    margin: 50px;
}

.query {
    background-color: #FF9999;
    color: black;
    size: 300px;
    border-radius: 16px;
    font-size: 20px;
    padding: 8px 32px;
}

.gridPaymentRequired {
    background-color: #CCFFCC;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

.gridTablePay {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}
.gridHomeFromPay {
    grid-row: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}



