<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createTrainee</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/validTrainees.js"></script>
</head>

<body class="pages">
<div class="grid-container">
    <div class= "gridNewTrainee">
        <header>
            <div>
                <h2> Create A New Trainee</h2>
            </div>
        </header>

        <div class="gridLabelTitle">
            <div class="label">
                <form name="createTrainee" onsubmit="return validateNewTrainee()">
                    <ul>
                        <label for="firstName"> First Name: </label>
                        <input type="text" class="label" name="firstName"> <br><br>

                        <label for="lastName"> Last Name: </label>
                        <input type="text" class="label" name="lastName"> <br><br>

                        <label for="phoneNumber"> Phone Number: </label>
                        <input type="tel" class="label" name="phoneNumber"> <br><br>

                        <label for="birthDate"> Birth Date: </label>
                        <input type="date" class="label" name="birthDate"> <br><br>

                        <label for="joinDate"> Join Date: </label>
                        <input type="date" class="label" name="joinDate"> <br><br>

                        <label for="healthIssues"> Health Issues: </label>
                        <input type="text" class="label" name="healthIssues"> <br><br>

                        <input type="submit" value="submit" class="button">

                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<footer class="gridFooter">
    Yuval Chen &copy
    <p> Contact us! </p>
    <p> <a href="mailto:abc@example.com">chenyuv@post.bgu.ac.il </a></p>
</footer>
</html>