<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STRONG WITH ME</title>
    <script defer src="../static/validSignUp.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<div class="grid-container">
    <div class="gridFirstWindow">
        <header>
            <div>
                <h1> STRONG WITH ME </h1>
            </div>
        </header>
        <h3>Our website allows you, studio managers and fitness trainers,
            to manage and monitor the studio's activities so that you always have:</h3>

        <div class="message">
            <div class="word1"> CONTROL </div>
            <div class="word2"> MANAGEABILITY </div>
            <div class="word3"> ORGANIZATION </div>
            <div class="word4"> CERTAINTY </div>
            <div class="word5"> ACHIEVEMENT </div>
        </div>

        <div class="gridConnection1">
            <a href = "logIn.html"> <button class="button"> LOG IN </button></a>
            <a href = "signUp.html"> <button class="button" > SIGN UP </button></a>
        </div>

    </div>
</div>
</body>

<footer class="gridFooter">
    Yuval Chen &copy
    <p> Contact us! </p>
    <p> <a href="mailto:abc@example.com">chenyuv@post.bgu.ac.il </a></p>
</footer>

</html>