<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>statistics page</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/validSignUp.js"></script>
</head>

<body class="pages">
<div class="grid-container">
    <div class= "gridStat">
        <header>
            <div>
                <h2> Statistics </h2>
            </div>
        </header>

        <div class="gridNavBar">
            <ul class="navBar">
                <li><a href="HomePage.html">Home</a></li>
                <li><a href="schedulePage.html">Studio's Schedule</a></li>
                <li><a href="trainees.html">Trainees</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="paymentRequired.html">Payment Require</a></li>
                <li><a href="statistics.html">Statistics</a></li>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

<footer class="gridFooter">
    Yuval Chen &copy
    <p> Contact us! </p>
    <p> <a href="mailto:abc@example.com">chenyuv@post.bgu.ac.il </a></p>
</footer>

</html>