<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script defer src="/public/javascripts/validSignUp.js"></script>
</head>

<body>
<div class="grid-container">
    <div class= "gridHomePage">
        <header>
            <div>
                <h2> What would you like to do? </h2>
            </div>
        </header>

        <div class="gridNavBar">
            <ul class="navBar">
                <li><a href="HomePage.html">Home</a></li>
                <li><a href="schedulePage.html">Studio's Schedule</a></li>
                <li><a href="trainees.html">Trainees</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="paymentRequired.html">Payment Require</a></li>
                <li><a href="statistics.html">Statistics</a></li>
                </li>
            </ul>
        </div>

         <p id="homePageText">Our website allows you to manage and monitor the studio's activities.<br>
            What would you want to do now? </p>

        <div id="fadeIn">
            <img src="../images/bgPic.jpg" alt="strong person with a dumbbell" />
        </div>
    </div>
</div>
</body>

<footer class="gridFooter">
    Yuval Chen &copy
    <p> Contact us! </p>
    <p> <a href="mailto:abc@example.com">chenyuv@post.bgu.ac.il </a></p>
</footer>

</html>