<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>schedule page</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body class="pages">
<div class="grid-container">
    <div class= "gridSchedule">
        <header>
            <div>
                <h2> My Studio's Schedule </h2>
            </div>
        </header>

        <div class="gridNavBar">
            <ul class="navBar">
                <li><a href="HomePage.html">Home</a></li>
                <li><a href="schedulePage.html">Studio's Schedule</a></li>
                <li><a href="trainees.html">Trainees</a></li>
                 <li><a href="tabs.html">Tabs</a></li>
                <li><a href="paymentRequired.html">Payment Require</a></li>
                <li><a href="statistics.html">Statistics</a></li>
                </li>
            </ul>
        </div>
    </div>

    <div class="training-container">
        <div class="trainingType" id="functional">Functional</div>
        <div class="trainingType" id="calisthenics">Calisthenics</div>
        <div class="trainingType" id="yoga">Yoga</div>
        <div class="trainingType" id="pilates">Pilates</div>
        <div class="trainingType" id="spinning">Spinning</div>
        <div class="trainingType" id="deselect">Diselect</div>
    </div>

   <h5> Add selected training to the schedule</h5>
    <div class="schedule-container">
        <div class="days-container">
            <span class="corner"></span>
            <div class="day">Sunday</div>
            <div class="day">Monday</div>
            <div class="day">Tuesday</div>
            <div class="day">Wednesday</div>
            <div class="day">Thursday</div>
            <div class="day">Friday</div>
            <div class="day">Saturday</div>
        </div>
        <div class="partDay">
            <span class="time"> 8:00 - 9:00 </span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 9:00 - 10:00 </span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 10:00 - 11:00 </span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 11:00 - 12:00</span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 12:00 - 13:00 </span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 13:00 - 14:00 </span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 14:00 - 15:00 </span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 15:00 - 16:00</span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 16:00 - 17:00 </span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 17:00 - 18:00 </span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 18:00 - 19:00 </span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 19:00 - 20:00</span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
        <div class="partDay">
            <span class="time"> 20:00 - 21:00</span>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
            <div class="training"></div>
        </div>
    </div>
    <button class="deleteButton"> DELETE ALL TRAININGS </button>

    <div class="popupMessage-container">
        <div class="popupMessage">
            <h4>Are you sure you want to delete the training from schedule?</h4>
            <div class="button-container">
                <div class="buttonAnswer" id="buttonYes"> YES </div>
                <div class="buttonAnswer" id="buttonNo"> NO </div>
            </div>
        </div>
    </div>
</div>
<script src="../javascripts/schedule.js"></script>
</body>

<footer class="gridFooter">
    Yuval Chen &copy
    <p> Contact us! </p>
    <p> <a href="mailto:abc@example.com">chenyuv@post.bgu.ac.il </a></p>
</footer>

</html>