<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>trainees page</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/public/javascripts/validTrainees.js"></script>
</head>

<body class="pages">
<div class="grid-container">
    <div class= "gridTrainees">
        <header>
            <div>
                <h2> Trainees </h2>
            </div>
        </header>

        <div class="gridNavBar">
            <ul class="navBar">
                <li><a href="HomePage.html">Home</a></li>
                <li><a href="schedulePage.html">Studio's Schedule</a></li>
                <li><a href="trainees.html">Trainees</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="paymentRequired.html">Payment Require</a></li>
                <li><a href="statistics.html">Statistics</a></li>
                </li>
            </ul>
        </div>
    </div>
    <div class="gridCreateDeleteButtons">
        <a href ="createTrainee.html" button class=create_delete> CREATE </button></a><br><br>
        <a href ="trainees.html" button class=create_delete> DELETE </button></a>

    </div>
</div>

<table class="gridTableTrainees">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Birth Date</th>
        <th>Join Date</th>
        <th>Health Issues</th>
        <th>Seniority (by training)</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Yoav</td>
        <td>Ayalon</td>
        <td>0581234567</td>
        <td>16/12/1997</td>
        <td>01/01/2022</td>
        <td>migraines</td>
        <td>102</td>
    </tr>
    <tr>
        <td>Yuval</td>
        <td>Chen</td>
        <td>0541234567</td>
        <td>27/04/1998</td>
        <td>15/03/2021</td>
        <td>none</td>
        <td>831</td>
    </tr>
    </tbody>
</table>

</div>
</body>

<footer class="gridFooter">
    Yuval Chen &copy
    <p> Contact us! </p>
    <p> <a href="mailto:abc@example.com">chenyuv@post.bgu.ac.il </a></p>
</footer>

</html>