doctype html
head
  title STRONG WITH ME
  script(defer='' src='/javascripts/validSignUp.js')
  link(rel='stylesheet' href='/stylesheets/style.css')

.grid-container
  .gridFirstWindow
    header
      div
        h1  STRONG WITH ME
    h3 Our website allows you, studio managers and fitness trainers, &NewLine;to manage and monitor the studios activities so that you always have:
    .message
      .word1  CONTROL
      .word2  MANAGEABILITY
      .word3  ORGANIZATION
      .word4  CERTAINTY
      .word5  ACHIEVEMENT
    .gridConnection1
      a(href='login')
        button.button  LOG IN
      a(href='signup')
        button.button  SIGN UP
footer.gridFooter
  span Yuval Chen &amp;
  p  Contact us!
  p
    a(href='mailto:abc@example.com') chenyuv@post.bgu.ac.il
