doctype html
head
  title Home Page
  link(rel='stylesheet' href='/stylesheets/style.css')
  script(defer='' src='/javascripts/validSignUp.js')
.grid-container
  .gridHomePage
    header
      div
        h2  What would you like to do?
    .gridNavBar
      ul.navBar
        li
          a(href='home') Home
        li
          a(href='schedule') Studio&apos;s Schedule
        li
          a(href='trainees') Trainees
        li
          a(href='logout') Log Out
    h4 Our website allows you to manage and monitor the studio&apos;s activities. &NewLine;What would you want to do now?
    #fadeIn
      img(src='../images/bgPic.jpg' alt='strong person with a dumbbell')
footer.gridFooter
  span Yuval Chen &amp;
  p  Contact us!
  p
    a(href='mailto:abc@example.com') chenyuv@post.bgu.ac.il
